{%extends 'base.html'%}
{%block head%}
<title>HOME</title>
<style>  
    body {
        background-image:url("https://cdn.pixabay.com/photo/2019/05/04/15/25/vintage-4178304_960_720.jpg"); 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-size: 100% 100%;
    }
</style>
{%endblock%}
{%block body%}

<p align="right">
    <a href='login'>
        <input type='submit' value='Log in'  style="height: 50px; width: 150px;color:blue;font-size : 20px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">    
    </a>
</p>    
</br> 
<center>
    <a href='cal'>
        <input type='submit' value='Calculate Your Investment'  style="height: 50px; width: 250px;color:rebeccapurple;font-size : 20px;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    </a>
</center>


{%endblock%}